.product {
    padding: 110px 0;
    text-align: center;
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin-bottom: 60px;
    }
    &__link {
        text-transform: uppercase;
        color: $title;
        @extend %roboto-400;
        display: inline-block;
        border: 1px solid $accent;
        padding: 14px 27px;
        transition: all 0.3s;
    }
    &__link:hover {
        @extend %btn;
        padding: 14px 27px;
    }
}

.product-item {
    max-width: 370px;
    text-align: center;
    &.product-item--list {
        min-width: 100%;
        display: flex;
        text-align: left;
        .product-item__img-box {
            height: 250px;
            min-width: 200px;
            margin-bottom: 0;
            img {
                height: 250px;
            }
        }
        .product-item__link-box {
            background-color: transparent;
            width: 115px;
            box-shadow: none;
            top: 40%;
            transform: translateY(300%);
            bottom: auto;
            .product-item__link {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .product-item__link--line {
                display: none;
            }
        }
        .product-item__content-box {
            display: block;
        }
        .product-item__title {
            order: -1;
            width: 100%;
            font-size: 22px;
            padding: 0;
            margin-bottom: 10px;
        }
        .product-item__price {
            order: -1;
            padding: 0;
            margin-left: -12px;
        }
        .star {
            margin-left: 35px;
        }
        .jq-ry-container {
            display: flex;
            align-items: center;
            padding-bottom: 3px;
        }
        .product-item__box {
            display: flex;
            flex-wrap: wrap;
        }
        .product-item__text {
            margin-top: 5px;
            margin-bottom: 15px;
        }
        .product-item__btn {
            @extend %btn;
            background-color: #29282d;
            color: #fff;
            text-transform: none;
            box-shadow: none;
            border: 0;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
                @extend %btn;
                border: 0;
                cursor: pointer;
                text-transform: none;
            }
        }
        .product-item__wrapper-box {
            padding: 30px 40px;
            border: 1px solid #ececec;
            border-left: none;
        }
        .product-item__img-box::before {
            top: 6px;
            left: 6px;
            padding: 0px 5px;
        }
    }
    &__content-box {
        display: none;
    }
    &__img-box {
        position: relative;
        height: 370px;
        overflow: hidden;
        margin-bottom: 25px;
    }
    &__link-box {
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 215px;
        height: 50px;
        background-color: #fff;
        box-shadow: 0px 5px 30px 0px rgb(152, 152, 152);
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 0;
        line-height: 0;
        transform: translateY(300%);
        transition: all 0.3s;
    }
    &__link--line::before,
    &__link--line::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 30px;
        background-color: #ccccce;
        top: 10px;
    }
    &__link--line::before {
        right: 70px;
    }
    &__link--line::after {
        left: 70px;
    }
    &__link {
        path {
            transition: all 0.3s;
        }
    }
    &__link:hover {
        path {
            fill: $accent;
        }
    }
    &__images {
        object-fit: cover;
    }
    &:hover {
        .product-item__link-box {
            transform: translateY(0);
        }
    }
    &__title {
        color: $title;
        @extend %roboto-500;
        font-style: 22px;
        padding: 15px 0 20px;
    }
    &__price {
        display: flex;
        justify-content: center;
        @extend %roboto-400;
    }
    &__new-price {
        padding: 0 12px;
        color: $title;
    }
    &__old-price {
        padding: 0 12px;
        color: $default;
        text-decoration: line-through;
    }
    &--sale {
        .product-item__img-box::before {
            content: "SALE";
            @extend %btn;
            position: absolute;
            top: 25px;
            left: 25px;
            padding: 1px 10px;
        }
    }
}

.star {
    margin: 0 auto;
}