.page-404 {
    padding: 110px 0 120px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content {
        max-width: 570px;
        width: 100%;
    }
    &__title {
        font-size: 48px;
        line-height: 26px;
        @extend %roboto-700;
        color: #28384f;
        margin-bottom: 40px;
    }
    &__text {
        margin-bottom: 55px;
        max-width: 470px;
    }
    &__link {
        @extend %btn;
    }
}

@media (max-width: 1200px) {
    .page-404{
        &__img{
            width: 40%;
        }
    }
}

@media (max-width: 980px) {
    .page-404{
        &__img{
            display: none;
        }
        &__title{
            line-height: 52px;
        }
    }
}
