<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/shop.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <title>Marcho</title>
</head>

<body>

    {% include 'app/module/_header/_header.html' %}

    <main class="main">

        {% include 'app/module/_top/_top.html' %}

        <section class="shop">
            <div class="container">

                <div class="shop__inner">
                    <button class="shop__filter-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#fe3e57" width="30px" height="30px" viewBox="0 0 512 512"><path d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"/></svg>
                    </button>
                    <div class="shop__filters filter">

                        <div class="filter-search filter__item">
                            <h3 class="filter__title">Search</h3>
                            <form class="filter-search__form" action="#">
                                <input class="filter-search__input" type="text" placeholder="Search your keyword....">
                                <button class="filter-search__btn" type="submit">
                                    <img src="images/icons/search_white.svg" alt="search icon">
                                </button>
                            </form>
                        </div>

                        <div class="filter-price filter__item">
                            <h3 class="filter__title">Price Filter</h3>
                            <form class="filter-price__form" action="#">
                                <input class="filter-price__input" type="text" data-min="0" data-max="999"
                                    data-from="200" data-to="800">
                                <label class="filter-price__label">
                                    <span>
                                        Price:
                                        $<span class="filter-price__from"></span> -
                                        $<span class="filter-price__to"></span>
                                    </span>
                                    <button class="filter-price__btn" type="submit">Filter</button>
                                </label>
                            </form>
                        </div>

                        <div class="filter-color filter__item">
                            <h3 class="filter__title">Color Filter</h3>
                            <form action="#" class="filter-color__form">
                                <label class="filter-color__label">
                                    <span class="filter-color__text">Blue (15)</span>
                                    <div class="filter-color__box">
                                        <input class="filter-color__input" type="checkbox">
                                        <span class="filter-color__checkbox filter-color__checkbox--blue"></span>
                                    </div>
                                </label>
                                <label class="filter-color__label">
                                    <span class="filter-color__text">Red (09)</span>
                                    <div class="filter-color__box">
                                        <input class="filter-color__input" type="checkbox">
                                        <span class="filter-color__checkbox filter-color__checkbox--red"></span>
                                    </div>
                                </label>
                                <label class="filter-color__label">
                                    <span class="filter-color__text">Green (28)</span>
                                    <div class="filter-color__box">
                                        <input class="filter-color__input" type="checkbox">
                                        <span class="filter-color__checkbox filter-color__checkbox--green"></span>
                                    </div>
                                </label>
                                <label class="filter-color__label">
                                    <span class="filter-color__text">Orange (11)</span>
                                    <div class="filter-color__box">
                                        <input class="filter-color__input" type="checkbox">
                                        <span class="filter-color__checkbox filter-color__checkbox--orange"></span>
                                    </div>
                                </label>
                                <label class="filter-color__label">
                                    <span class="filter-color__text">Black (05)</span>
                                    <div class="filter-color__box">
                                        <input class="filter-color__input" type="checkbox">
                                        <span class="filter-color__checkbox filter-color__checkbox--black"></span>
                                    </div>
                                </label>
                                <label class="filter-color__label">
                                    <span class="filter-color__text">Purple (21)</span>
                                    <div class="filter-color__box">
                                        <input class="filter-color__input" type="checkbox">
                                        <span class="filter-color__checkbox filter-color__checkbox--purple"></span>
                                    </div>
                                </label>

                            </form>
                        </div>

                        <div class="filter-size filter__item">
                            <h3 class="filter__title">Size Filter</h3>
                            <form class="filter-size__form" action="#">
                                <label class="filter-size__label">
                                    <input class="filter-size__input" type="checkbox">
                                    <span class="filter-size__checkbox"></span>
                                    <span class="filter-size__text">X-small</span>
                                </label>
                                <label class="filter-size__label">
                                    <input class="filter-size__input" type="checkbox">
                                    <span class="filter-size__checkbox"></span>
                                    <span class="filter-size__text">Small</span>
                                </label>
                                <label class="filter-size__label">
                                    <input class="filter-size__input" type="checkbox">
                                    <span class="filter-size__checkbox"></span>
                                    <span class="filter-size__text">Medium</span>
                                </label>
                                <label class="filter-size__label">
                                    <input class="filter-size__input" type="checkbox">
                                    <span class="filter-size__checkbox"></span>
                                    <span class="filter-size__text">Large</span>
                                </label>
                                <label class="filter-size__label">
                                    <input class="filter-size__input" type="checkbox">
                                    <span class="filter-size__checkbox"></span>
                                    <span class="filter-size__text">XXL</span>
                                </label>
                            </form>
                        </div>

                        <div class="filter-category filter__item">
                            <h3 class="filter__title">Category</h3>
                            <form class="filter-category__form" action="#">
                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <div class="filter-category__checkbox">
                                        <span class="filter-category__text">Woman</span>
                                        <span class="filter-category__number">48</span>
                                    </div>
                                </label>
                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <div class="filter-category__checkbox">
                                        <span class="filter-category__text">Man</span>
                                        <span class="filter-category__number">30</span>
                                    </div>
                                </label>
                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox" checked>
                                    <div class="filter-category__checkbox">
                                        <span class="filter-category__text">Sale Products</span>
                                        <span class="filter-category__number">92</span>
                                    </div>
                                </label>
                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <div class="filter-category__checkbox">
                                        <span class="filter-category__text">Fashion</span>
                                        <span class="filter-category__number">121</span>
                                    </div>
                                </label>
                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <div class="filter-category__checkbox">
                                        <span class="filter-category__text">Hot Dresses</span>
                                        <span class="filter-category__number">52</span>
                                    </div>
                                </label>
                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <div class="filter-category__checkbox">
                                        <span class="filter-category__text">Accessories</span>
                                        <span class="filter-category__number">88</span>
                                    </div>
                                </label>
                            </form>
                        </div>

                        <div class="filter-tags filter__item">
                            <h3 class="filter__title">Popular Tags</h3>
                            <form class="filter-tags__form" action="#">
                                <label class="filter-tags__label">
                                    <input class="filter-tags__input" type="checkbox">
                                    <div class="filter-tags__checkbox">
                                        <span class="filter-tags__text">Sweetshirt</span>
                                    </div>
                                </label>
                                <label class="filter-tags__label">
                                    <input class="filter-tags__input" type="checkbox">
                                    <div class="filter-tags__checkbox">
                                        <span class="filter-tags__text">Man Accessories</span>
                                    </div>
                                </label>
                                <label class="filter-tags__label">
                                    <input class="filter-tags__input" type="checkbox">
                                    <div class="filter-tags__checkbox">
                                        <span class="filter-tags__text">Fashion</span>
                                    </div>
                                </label>
                                <label class="filter-tags__label">
                                    <input class="filter-tags__input" type="checkbox">
                                    <div class="filter-tags__checkbox">
                                        <span class="filter-tags__text">Polo</span>
                                    </div>
                                </label>
                                <label class="filter-tags__label">
                                    <input class="filter-tags__input" type="checkbox">
                                    <div class="filter-tags__checkbox">
                                        <span class="filter-tags__text">T-Shirt</span>
                                    </div>
                                </label>
                                <label class="filter-tags__label">
                                    <input class="filter-tags__input" type="checkbox">
                                    <div class="filter-tags__checkbox">
                                        <span class="filter-tags__text">Jewellery</span>
                                    </div>
                                </label>
                            </form>
                        </div>

                    </div>
                    <div class="shop-content">
                        <div class="shop-content__filter">
                            <div class="shop-content__filter-buttons">
                                <span>View</span>
                                <button class="shop-content__filter-btn shop-content__filter-btn--active button-grid">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="15px" height="15px">
                                        <path fill-rule="evenodd" fill="rgb(141, 141, 141)"
                                            d="M-0.000,3.750 L3.750,3.750 L3.750,-0.000 L-0.000,-0.000 L-0.000,3.750 ZM5.625,15.000 L9.375,15.000 L9.375,11.250 L5.625,11.250 L5.625,15.000 ZM-0.000,15.000 L3.750,15.000 L3.750,11.250 L-0.000,11.250 L-0.000,15.000 ZM-0.000,9.375 L3.750,9.375 L3.750,5.625 L-0.000,5.625 L-0.000,9.375 ZM5.625,9.375 L9.375,9.375 L9.375,5.625 L5.625,5.625 L5.625,9.375 ZM11.250,-0.000 L11.250,3.750 L15.000,3.750 L15.000,-0.000 L11.250,-0.000 ZM5.625,3.750 L9.375,3.750 L9.375,-0.000 L5.625,-0.000 L5.625,3.750 ZM11.250,9.375 L15.000,9.375 L15.000,5.625 L11.250,5.625 L11.250,9.375 ZM11.250,15.000 L15.000,15.000 L15.000,11.250 L11.250,11.250 L11.250,15.000 Z" />
                                    </svg>
                                </button>
                                <button class="shop-content__filter-btn button-list">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="20px" height="15px">
                                        <path fill-rule="evenodd" fill="rgb(141, 141, 141)"
                                            d="M5.835,14.998 L5.835,10.827 L19.994,10.827 L19.994,14.998 L5.835,14.998 ZM5.835,5.413 L19.994,5.413 L19.994,9.585 L5.835,9.585 L5.835,5.413 ZM5.835,0.000 L19.994,0.000 L19.994,4.172 L5.835,4.172 L5.835,0.000 ZM0.007,10.827 L4.429,10.827 L4.429,14.998 L0.007,14.998 L0.007,10.827 ZM0.007,5.413 L4.429,5.413 L4.429,9.585 L0.007,9.585 L0.007,5.413 ZM0.007,0.000 L4.429,0.000 L4.429,4.172 L0.007,4.172 L0.007,0.000 Z" />
                                    </svg>
                                </button>
                            </div>
                            <div class="shop-content__filter-selects">
                                <form action="" class="shop-content__filter-form">
                                    <select class="shop-content__filter-sort select-style">
                                        <option value="">Sort By Default</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                    </select>
                                    <select class="shop-content__filter-show select-style">
                                        <option value="">Show 9</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <div class="shop-content__inner">
                            <div class="product-item product-item--sale">
                                <div class="product-item__img-box">
                                    <img class="product-item__images" src="images/content/product/2.jpg" alt="Product">
                                    <div class="product-item__link-box">
                                        <a class="product-item__link" href="#">
                                            <svg width="22px" height="22px" viewBox="0 0 632.399 632.399">
                                                <path
                                                    d="M255.108,0C119.863,0,10.204,109.66,10.204,244.904c0,135.245,109.659,244.905,244.904,244.905
                                                                        c52.006,0,100.238-16.223,139.883-43.854l185.205,185.176c1.671,1.672,4.379,1.672,5.964,0.115l34.892-34.891
                                                                        c1.613-1.613,1.47-4.379-0.115-5.965L438.151,407.605c38.493-43.246,61.86-100.237,61.86-162.702
                                                                        C500.012,109.66,390.353,0,255.108,0z M255.108,460.996c-119.34,0-216.092-96.752-216.092-216.092
                                                                        c0-119.34,96.751-216.091,216.092-216.091s216.091,96.751,216.091,216.091C471.199,364.244,374.448,460.996,255.108,460.996z" />
                                            </svg>
                                        </a>
                                        <a class="product-item__link product-item__link--line " href="#">
                                            <svg viewBox="0 0 512 512" width="25px" height="25px">
                                                <title />
                                                <g>
                                                    <path
                                                        d="M397.78,316H192.65A15,15,0,0,1,178,304.33L143.46,153.85a15,15,0,0,1,14.62-18.36H432.35A15,15,0,0,1,447,153.85L412.4,304.33A15,15,0,0,1,397.78,316ZM204.59,286H385.84l27.67-120.48H176.91Z" />
                                                    <path
                                                        d="M222,450a57.48,57.48,0,1,1,57.48-57.48A57.54,57.54,0,0,1,222,450Zm0-84.95a27.48,27.48,0,1,0,27.48,27.47A27.5,27.5,0,0,0,222,365.05Z" />
                                                    <path
                                                        d="M368.42,450a57.48,57.48,0,1,1,57.48-57.48A57.54,57.54,0,0,1,368.42,450Zm0-84.95a27.48,27.48,0,1,0,27.48,27.47A27.5,27.5,0,0,0,368.42,365.05Z" />
                                                    <path
                                                        d="M158.08,165.49a15,15,0,0,1-14.23-10.26L118.14,78H70.7a15,15,0,1,1,0-30H129a15,15,0,0,1,14.23,10.26l29.13,87.49a15,15,0,0,1-14.23,19.74Z" />
                                                </g>
                                            </svg>
                                        </a>
                                        <a class="product-item__link" href="#">
                                            <svg viewBox="0 0 32 32" width="25px" height="25px">
                                                <title />
                                                <g>
                                                    <path class="cls-1"
                                                        d="M16,28.72a3,3,0,0,1-2.13-.88L3.57,17.54a8.72,8.72,0,0,1-2.52-6.25,8.06,8.06,0,0,1,8.14-8A8.06,8.06,0,0,1,15,5.68l1,1,.82-.82h0a8.39,8.39,0,0,1,11-.89,8.25,8.25,0,0,1,.81,12.36L18.13,27.84A3,3,0,0,1,16,28.72ZM9.15,5.28A6.12,6.12,0,0,0,4.89,7a6,6,0,0,0-1.84,4.33A6.72,6.72,0,0,0,5,16.13l10.3,10.3a1,1,0,0,0,1.42,0L27.23,15.91A6.25,6.25,0,0,0,29,11.11a6.18,6.18,0,0,0-2.43-4.55,6.37,6.37,0,0,0-8.37.71L16.71,8.8a1,1,0,0,1-1.42,0l-1.7-1.7a6.28,6.28,0,0,0-4.4-1.82Z" />
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-item__wrapper-box">
                                    <div class="product-item__box">
                                        <div class="star" data-rateyo-rating="3.5"></div>
                                        <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
                                        <div class="product-item__price">
                                            <div class="product-item__new-price">$34.00</div>
                                            <div class="product-item__old-price">$27.00</div>
                                        </div>
                                    </div>
                                    <div class="product-item__content-box">
                                        <p class="product-item__text">
                                            Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et
                                            dolore magna aliqua.
                                        </p>
                                        <button class="product-item__btn">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="product-item__img-box">
                                    <img class="product-item__images" src="images/content/product/3.jpg" alt="Product">
                                    <div class="product-item__link-box">
                                        <a class="product-item__link" href="#">
                                            <svg width="22px" height="22px" viewBox="0 0 632.399 632.399">
                                                <path
                                                    d="M255.108,0C119.863,0,10.204,109.66,10.204,244.904c0,135.245,109.659,244.905,244.904,244.905
                                                                        c52.006,0,100.238-16.223,139.883-43.854l185.205,185.176c1.671,1.672,4.379,1.672,5.964,0.115l34.892-34.891
                                                                        c1.613-1.613,1.47-4.379-0.115-5.965L438.151,407.605c38.493-43.246,61.86-100.237,61.86-162.702
                                                                        C500.012,109.66,390.353,0,255.108,0z M255.108,460.996c-119.34,0-216.092-96.752-216.092-216.092
                                                                        c0-119.34,96.751-216.091,216.092-216.091s216.091,96.751,216.091,216.091C471.199,364.244,374.448,460.996,255.108,460.996z" />
                                            </svg>
                                        </a>
                                        <a class="product-item__link product-item__link--line " href="#">
                                            <svg viewBox="0 0 512 512" width="25px" height="25px">
                                                <title />
                                                <g>
                                                    <path
                                                        d="M397.78,316H192.65A15,15,0,0,1,178,304.33L143.46,153.85a15,15,0,0,1,14.62-18.36H432.35A15,15,0,0,1,447,153.85L412.4,304.33A15,15,0,0,1,397.78,316ZM204.59,286H385.84l27.67-120.48H176.91Z" />
                                                    <path
                                                        d="M222,450a57.48,57.48,0,1,1,57.48-57.48A57.54,57.54,0,0,1,222,450Zm0-84.95a27.48,27.48,0,1,0,27.48,27.47A27.5,27.5,0,0,0,222,365.05Z" />
                                                    <path
                                                        d="M368.42,450a57.48,57.48,0,1,1,57.48-57.48A57.54,57.54,0,0,1,368.42,450Zm0-84.95a27.48,27.48,0,1,0,27.48,27.47A27.5,27.5,0,0,0,368.42,365.05Z" />
                                                    <path
                                                        d="M158.08,165.49a15,15,0,0,1-14.23-10.26L118.14,78H70.7a15,15,0,1,1,0-30H129a15,15,0,0,1,14.23,10.26l29.13,87.49a15,15,0,0,1-14.23,19.74Z" />
                                                </g>
                                            </svg>
                                        </a>
                                        <a class="product-item__link" href="#">
                                            <svg viewBox="0 0 32 32" width="25px" height="25px">
                                                <title />
                                                <g>
                                                    <path class="cls-1"
                                                        d="M16,28.72a3,3,0,0,1-2.13-.88L3.57,17.54a8.72,8.72,0,0,1-2.52-6.25,8.06,8.06,0,0,1,8.14-8A8.06,8.06,0,0,1,15,5.68l1,1,.82-.82h0a8.39,8.39,0,0,1,11-.89,8.25,8.25,0,0,1,.81,12.36L18.13,27.84A3,3,0,0,1,16,28.72ZM9.15,5.28A6.12,6.12,0,0,0,4.89,7a6,6,0,0,0-1.84,4.33A6.72,6.72,0,0,0,5,16.13l10.3,10.3a1,1,0,0,0,1.42,0L27.23,15.91A6.25,6.25,0,0,0,29,11.11a6.18,6.18,0,0,0-2.43-4.55,6.37,6.37,0,0,0-8.37.71L16.71,8.8a1,1,0,0,1-1.42,0l-1.7-1.7a6.28,6.28,0,0,0-4.4-1.82Z" />
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-item__wrapper-box">
                                    <div class="product-item__box">
                                        <div class="star" data-rateyo-rating="4"></div>
                                        <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
                                        <div class="product-item__price">
                                            <div class="product-item__new-price">$34.00</div>
                                            <div class="product-item__old-price">$27.00</div>
                                        </div>
                                    </div>
                                    <div class="product-item__content-box">
                                        <p class="product-item__text">
                                            Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et
                                            dolore magna aliqua.
                                        </p>
                                        <button class="product-item__btn">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item product-item--sale">
                                <div class="product-item__img-box">
                                    <img class="product-item__images" src="images/content/product/4.jpg" alt="Product">
                                    <div class="product-item__link-box">
                                        <a class="product-item__link" href="#">
                                            <svg width="22px" height="22px" viewBox="0 0 632.399 632.399">
                                                <path
                                                    d="M255.108,0C119.863,0,10.204,109.66,10.204,244.904c0,135.245,109.659,244.905,244.904,244.905
                                                                        c52.006,0,100.238-16.223,139.883-43.854l185.205,185.176c1.671,1.672,4.379,1.672,5.964,0.115l34.892-34.891
                                                                        c1.613-1.613,1.47-4.379-0.115-5.965L438.151,407.605c38.493-43.246,61.86-100.237,61.86-162.702
                                                                        C500.012,109.66,390.353,0,255.108,0z M255.108,460.996c-119.34,0-216.092-96.752-216.092-216.092
                                                                        c0-119.34,96.751-216.091,216.092-216.091s216.091,96.751,216.091,216.091C471.199,364.244,374.448,460.996,255.108,460.996z" />
                                            </svg>
                                        </a>
                                        <a class="product-item__link product-item__link--line " href="#">
                                            <svg viewBox="0 0 512 512" width="25px" height="25px">
                                                <title />
                                                <g>
                                                    <path
                                                        d="M397.78,316H192.65A15,15,0,0,1,178,304.33L143.46,153.85a15,15,0,0,1,14.62-18.36H432.35A15,15,0,0,1,447,153.85L412.4,304.33A15,15,0,0,1,397.78,316ZM204.59,286H385.84l27.67-120.48H176.91Z" />
                                                    <path
                                                        d="M222,450a57.48,57.48,0,1,1,57.48-57.48A57.54,57.54,0,0,1,222,450Zm0-84.95a27.48,27.48,0,1,0,27.48,27.47A27.5,27.5,0,0,0,222,365.05Z" />
                                                    <path
                                                        d="M368.42,450a57.48,57.48,0,1,1,57.48-57.48A57.54,57.54,0,0,1,368.42,450Zm0-84.95a27.48,27.48,0,1,0,27.48,27.47A27.5,27.5,0,0,0,368.42,365.05Z" />
                                                    <path
                                                        d="M158.08,165.49a15,15,0,0,1-14.23-10.26L118.14,78H70.7a15,15,0,1,1,0-30H129a15,15,0,0,1,14.23,10.26l29.13,87.49a15,15,0,0,1-14.23,19.74Z" />
                                                </g>
                                            </svg>
                                        </a>
                                        <a class="product-item__link" href="#">
                                            <svg viewBox="0 0 32 32" width="25px" height="25px">
                                                <title />
                                                <g>
                                                    <path class="cls-1"
                                                        d="M16,28.72a3,3,0,0,1-2.13-.88L3.57,17.54a8.72,8.72,0,0,1-2.52-6.25,8.06,8.06,0,0,1,8.14-8A8.06,8.06,0,0,1,15,5.68l1,1,.82-.82h0a8.39,8.39,0,0,1,11-.89,8.25,8.25,0,0,1,.81,12.36L18.13,27.84A3,3,0,0,1,16,28.72ZM9.15,5.28A6.12,6.12,0,0,0,4.89,7a6,6,0,0,0-1.84,4.33A6.72,6.72,0,0,0,5,16.13l10.3,10.3a1,1,0,0,0,1.42,0L27.23,15.91A6.25,6.25,0,0,0,29,11.11a6.18,6.18,0,0,0-2.43-4.55,6.37,6.37,0,0,0-8.37.71L16.71,8.8a1,1,0,0,1-1.42,0l-1.7-1.7a6.28,6.28,0,0,0-4.4-1.82Z" />
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-item__wrapper-box">
                                    <div class="product-item__box">
                                        <div class="star" data-rateyo-rating="5"></div>
                                        <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
                                        <div class="product-item__price">
                                            <div class="product-item__new-price">$34.00</div>
                                            <div class="product-item__old-price">$27.00</div>
                                        </div>
                                    </div>
                                    <div class="product-item__content-box">
                                        <p class="product-item__text">
                                            Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et
                                            dolore magna aliqua.
                                        </p>
                                        <button class="product-item__btn">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="product-item__img-box">
                                    <img class="product-item__images" src="images/content/product/1.jpg" alt="Product">
                                    <div class="product-item__link-box">
                                        <a class="product-item__link" href="#">
                                            <svg width="22px" height="22px" viewBox="0 0 632.399 632.399">
                                                <path
                                                    d="M255.108,0C119.863,0,10.204,109.66,10.204,244.904c0,135.245,109.659,244.905,244.904,244.905
                                                                                            c52.006,0,100.238-16.223,139.883-43.854l185.205,185.176c1.671,1.672,4.379,1.672,5.964,0.115l34.892-34.891
                                                                                            c1.613-1.613,1.47-4.379-0.115-5.965L438.151,407.605c38.493-43.246,61.86-100.237,61.86-162.702
                                                                                            C500.012,109.66,390.353,0,255.108,0z M255.108,460.996c-119.34,0-216.092-96.752-216.092-216.092
                                                                                            c0-119.34,96.751-216.091,216.092-216.091s216.091,96.751,216.091,216.091C471.199,364.244,374.448,460.996,255.108,460.996z" />
                                            </svg>
                                        </a>
                                        <a class="product-item__link product-item__link--line " href="#">
                                            <svg viewBox="0 0 512 512" width="25px" height="25px">
                                                <title />
                                                <g>
                                                    <path
                                                        d="M397.78,316H192.65A15,15,0,0,1,178,304.33L143.46,153.85a15,15,0,0,1,14.62-18.36H432.35A15,15,0,0,1,447,153.85L412.4,304.33A15,15,0,0,1,397.78,316ZM204.59,286H385.84l27.67-120.48H176.91Z" />
                                                    <path
                                                        d="M222,450a57.48,57.48,0,1,1,57.48-57.48A57.54,57.54,0,0,1,222,450Zm0-84.95a27.48,27.48,0,1,0,27.48,27.47A27.5,27.5,0,0,0,222,365.05Z" />
                                                    <path
                                                        d="M368.42,450a57.48,57.48,0,1,1,57.48-57.48A57.54,57.54,0,0,1,368.42,450Zm0-84.95a27.48,27.48,0,1,0,27.48,27.47A27.5,27.5,0,0,0,368.42,365.05Z" />
                                                    <path
                                                        d="M158.08,165.49a15,15,0,0,1-14.23-10.26L118.14,78H70.7a15,15,0,1,1,0-30H129a15,15,0,0,1,14.23,10.26l29.13,87.49a15,15,0,0,1-14.23,19.74Z" />
                                                </g>
                                            </svg>
                                        </a>
                                        <a class="product-item__link" href="#">
                                            <svg viewBox="0 0 32 32" width="25px" height="25px">
                                                <title />
                                                <g>
                                                    <path class="cls-1"
                                                        d="M16,28.72a3,3,0,0,1-2.13-.88L3.57,17.54a8.72,8.72,0,0,1-2.52-6.25,8.06,8.06,0,0,1,8.14-8A8.06,8.06,0,0,1,15,5.68l1,1,.82-.82h0a8.39,8.39,0,0,1,11-.89,8.25,8.25,0,0,1,.81,12.36L18.13,27.84A3,3,0,0,1,16,28.72ZM9.15,5.28A6.12,6.12,0,0,0,4.89,7a6,6,0,0,0-1.84,4.33A6.72,6.72,0,0,0,5,16.13l10.3,10.3a1,1,0,0,0,1.42,0L27.23,15.91A6.25,6.25,0,0,0,29,11.11a6.18,6.18,0,0,0-2.43-4.55,6.37,6.37,0,0,0-8.37.71L16.71,8.8a1,1,0,0,1-1.42,0l-1.7-1.7a6.28,6.28,0,0,0-4.4-1.82Z" />
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-item__wrapper-box">
                                    <div class="product-item__box">
                                        <div class="star" data-rateyo-rating="4"></div>
                                        <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
                                        <div class="product-item__price">
                                            <div class="product-item__new-price">$34.00</div>
                                            <div class="product-item__old-price">$27.00</div>
                                        </div>
                                    </div>
                                    <div class="product-item__content-box">
                                        <p class="product-item__text">
                                            Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et
                                            dolore magna aliqua.
                                        </p>
                                        <button class="product-item__btn">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item product-item--sale">
                                <div class="product-item__img-box">
                                    <img class="product-item__images" src="images/content/product/2.jpg" alt="Product">
                                    <div class="product-item__link-box">
                                        <a class="product-item__link" href="#">
                                            <svg width="22px" height="22px" viewBox="0 0 632.399 632.399">
                                                <path
                                                    d="M255.108,0C119.863,0,10.204,109.66,10.204,244.904c0,135.245,109.659,244.905,244.904,244.905
                                                                                            c52.006,0,100.238-16.223,139.883-43.854l185.205,185.176c1.671,1.672,4.379,1.672,5.964,0.115l34.892-34.891
                                                                                            c1.613-1.613,1.47-4.379-0.115-5.965L438.151,407.605c38.493-43.246,61.86-100.237,61.86-162.702
                                                                                            C500.012,109.66,390.353,0,255.108,0z M255.108,460.996c-119.34,0-216.092-96.752-216.092-216.092
                                                                                            c0-119.34,96.751-216.091,216.092-216.091s216.091,96.751,216.091,216.091C471.199,364.244,374.448,460.996,255.108,460.996z" />
                                            </svg>
                                        </a>
                                        <a class="product-item__link product-item__link--line " href="#">
                                            <svg viewBox="0 0 512 512" width="25px" height="25px">
                                                <title />
                                                <g>
                                                    <path
                                                        d="M397.78,316H192.65A15,15,0,0,1,178,304.33L143.46,153.85a15,15,0,0,1,14.62-18.36H432.35A15,15,0,0,1,447,153.85L412.4,304.33A15,15,0,0,1,397.78,316ZM204.59,286H385.84l27.67-120.48H176.91Z" />
                                                    <path
                                                        d="M222,450a57.48,57.48,0,1,1,57.48-57.48A57.54,57.54,0,0,1,222,450Zm0-84.95a27.48,27.48,0,1,0,27.48,27.47A27.5,27.5,0,0,0,222,365.05Z" />
                                                    <path
                                                        d="M368.42,450a57.48,57.48,0,1,1,57.48-57.48A57.54,57.54,0,0,1,368.42,450Zm0-84.95a27.48,27.48,0,1,0,27.48,27.47A27.5,27.5,0,0,0,368.42,365.05Z" />
                                                    <path
                                                        d="M158.08,165.49a15,15,0,0,1-14.23-10.26L118.14,78H70.7a15,15,0,1,1,0-30H129a15,15,0,0,1,14.23,10.26l29.13,87.49a15,15,0,0,1-14.23,19.74Z" />
                                                </g>
                                            </svg>
                                        </a>
                                        <a class="product-item__link" href="#">
                                            <svg viewBox="0 0 32 32" width="25px" height="25px">
                                                <title />
                                                <g>
                                                    <path class="cls-1"
                                                        d="M16,28.72a3,3,0,0,1-2.13-.88L3.57,17.54a8.72,8.72,0,0,1-2.52-6.25,8.06,8.06,0,0,1,8.14-8A8.06,8.06,0,0,1,15,5.68l1,1,.82-.82h0a8.39,8.39,0,0,1,11-.89,8.25,8.25,0,0,1,.81,12.36L18.13,27.84A3,3,0,0,1,16,28.72ZM9.15,5.28A6.12,6.12,0,0,0,4.89,7a6,6,0,0,0-1.84,4.33A6.72,6.72,0,0,0,5,16.13l10.3,10.3a1,1,0,0,0,1.42,0L27.23,15.91A6.25,6.25,0,0,0,29,11.11a6.18,6.18,0,0,0-2.43-4.55,6.37,6.37,0,0,0-8.37.71L16.71,8.8a1,1,0,0,1-1.42,0l-1.7-1.7a6.28,6.28,0,0,0-4.4-1.82Z" />
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-item__wrapper-box">
                                    <div class="product-item__box">
                                        <div class="star" data-rateyo-rating="3.5"></div>
                                        <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
                                        <div class="product-item__price">
                                            <div class="product-item__new-price">$34.00</div>
                                            <div class="product-item__old-price">$27.00</div>
                                        </div>
                                    </div>
                                    <div class="product-item__content-box">
                                        <p class="product-item__text">
                                            Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et
                                            dolore magna aliqua.
                                        </p>
                                        <button class="product-item__btn">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="product-item__img-box">
                                    <img class="product-item__images" src="images/content/product/3.jpg" alt="Product">
                                    <div class="product-item__link-box">
                                        <a class="product-item__link" href="#">
                                            <svg width="22px" height="22px" viewBox="0 0 632.399 632.399">
                                                <path
                                                    d="M255.108,0C119.863,0,10.204,109.66,10.204,244.904c0,135.245,109.659,244.905,244.904,244.905
                                                                                            c52.006,0,100.238-16.223,139.883-43.854l185.205,185.176c1.671,1.672,4.379,1.672,5.964,0.115l34.892-34.891
                                                                                            c1.613-1.613,1.47-4.379-0.115-5.965L438.151,407.605c38.493-43.246,61.86-100.237,61.86-162.702
                                                                                            C500.012,109.66,390.353,0,255.108,0z M255.108,460.996c-119.34,0-216.092-96.752-216.092-216.092
                                                                                            c0-119.34,96.751-216.091,216.092-216.091s216.091,96.751,216.091,216.091C471.199,364.244,374.448,460.996,255.108,460.996z" />
                                            </svg>
                                        </a>
                                        <a class="product-item__link product-item__link--line " href="#">
                                            <svg viewBox="0 0 512 512" width="25px" height="25px">
                                                <title />
                                                <g>
                                                    <path
                                                        d="M397.78,316H192.65A15,15,0,0,1,178,304.33L143.46,153.85a15,15,0,0,1,14.62-18.36H432.35A15,15,0,0,1,447,153.85L412.4,304.33A15,15,0,0,1,397.78,316ZM204.59,286H385.84l27.67-120.48H176.91Z" />
                                                    <path
                                                        d="M222,450a57.48,57.48,0,1,1,57.48-57.48A57.54,57.54,0,0,1,222,450Zm0-84.95a27.48,27.48,0,1,0,27.48,27.47A27.5,27.5,0,0,0,222,365.05Z" />
                                                    <path
                                                        d="M368.42,450a57.48,57.48,0,1,1,57.48-57.48A57.54,57.54,0,0,1,368.42,450Zm0-84.95a27.48,27.48,0,1,0,27.48,27.47A27.5,27.5,0,0,0,368.42,365.05Z" />
                                                    <path
                                                        d="M158.08,165.49a15,15,0,0,1-14.23-10.26L118.14,78H70.7a15,15,0,1,1,0-30H129a15,15,0,0,1,14.23,10.26l29.13,87.49a15,15,0,0,1-14.23,19.74Z" />
                                                </g>
                                            </svg>
                                        </a>
                                        <a class="product-item__link" href="#">
                                            <svg viewBox="0 0 32 32" width="25px" height="25px">
                                                <title />
                                                <g>
                                                    <path class="cls-1"
                                                        d="M16,28.72a3,3,0,0,1-2.13-.88L3.57,17.54a8.72,8.72,0,0,1-2.52-6.25,8.06,8.06,0,0,1,8.14-8A8.06,8.06,0,0,1,15,5.68l1,1,.82-.82h0a8.39,8.39,0,0,1,11-.89,8.25,8.25,0,0,1,.81,12.36L18.13,27.84A3,3,0,0,1,16,28.72ZM9.15,5.28A6.12,6.12,0,0,0,4.89,7a6,6,0,0,0-1.84,4.33A6.72,6.72,0,0,0,5,16.13l10.3,10.3a1,1,0,0,0,1.42,0L27.23,15.91A6.25,6.25,0,0,0,29,11.11a6.18,6.18,0,0,0-2.43-4.55,6.37,6.37,0,0,0-8.37.71L16.71,8.8a1,1,0,0,1-1.42,0l-1.7-1.7a6.28,6.28,0,0,0-4.4-1.82Z" />
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-item__wrapper-box">
                                    <div class="product-item__box">
                                        <div class="star" data-rateyo-rating="4"></div>
                                        <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
                                        <div class="product-item__price">
                                            <div class="product-item__new-price">$34.00</div>
                                            <div class="product-item__old-price">$27.00</div>
                                        </div>
                                    </div>
                                    <div class="product-item__content-box">
                                        <p class="product-item__text">
                                            Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et
                                            dolore magna aliqua.
                                        </p>
                                        <button class="product-item__btn">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item product-item--sale">
                                <div class="product-item__img-box">
                                    <img class="product-item__images" src="images/content/product/4.jpg" alt="Product">
                                    <div class="product-item__link-box">
                                        <a class="product-item__link" href="#">
                                            <svg width="22px" height="22px" viewBox="0 0 632.399 632.399">
                                                <path
                                                    d="M255.108,0C119.863,0,10.204,109.66,10.204,244.904c0,135.245,109.659,244.905,244.904,244.905
                                                                                            c52.006,0,100.238-16.223,139.883-43.854l185.205,185.176c1.671,1.672,4.379,1.672,5.964,0.115l34.892-34.891
                                                                                            c1.613-1.613,1.47-4.379-0.115-5.965L438.151,407.605c38.493-43.246,61.86-100.237,61.86-162.702
                                                                                            C500.012,109.66,390.353,0,255.108,0z M255.108,460.996c-119.34,0-216.092-96.752-216.092-216.092
                                                                                            c0-119.34,96.751-216.091,216.092-216.091s216.091,96.751,216.091,216.091C471.199,364.244,374.448,460.996,255.108,460.996z" />
                                            </svg>
                                        </a>
                                        <a class="product-item__link product-item__link--line " href="#">
                                            <svg viewBox="0 0 512 512" width="25px" height="25px">
                                                <title />
                                                <g>
                                                    <path
                                                        d="M397.78,316H192.65A15,15,0,0,1,178,304.33L143.46,153.85a15,15,0,0,1,14.62-18.36H432.35A15,15,0,0,1,447,153.85L412.4,304.33A15,15,0,0,1,397.78,316ZM204.59,286H385.84l27.67-120.48H176.91Z" />
                                                    <path
                                                        d="M222,450a57.48,57.48,0,1,1,57.48-57.48A57.54,57.54,0,0,1,222,450Zm0-84.95a27.48,27.48,0,1,0,27.48,27.47A27.5,27.5,0,0,0,222,365.05Z" />
                                                    <path
                                                        d="M368.42,450a57.48,57.48,0,1,1,57.48-57.48A57.54,57.54,0,0,1,368.42,450Zm0-84.95a27.48,27.48,0,1,0,27.48,27.47A27.5,27.5,0,0,0,368.42,365.05Z" />
                                                    <path
                                                        d="M158.08,165.49a15,15,0,0,1-14.23-10.26L118.14,78H70.7a15,15,0,1,1,0-30H129a15,15,0,0,1,14.23,10.26l29.13,87.49a15,15,0,0,1-14.23,19.74Z" />
                                                </g>
                                            </svg>
                                        </a>
                                        <a class="product-item__link" href="#">
                                            <svg viewBox="0 0 32 32" width="25px" height="25px">
                                                <title />
                                                <g>
                                                    <path class="cls-1"
                                                        d="M16,28.72a3,3,0,0,1-2.13-.88L3.57,17.54a8.72,8.72,0,0,1-2.52-6.25,8.06,8.06,0,0,1,8.14-8A8.06,8.06,0,0,1,15,5.68l1,1,.82-.82h0a8.39,8.39,0,0,1,11-.89,8.25,8.25,0,0,1,.81,12.36L18.13,27.84A3,3,0,0,1,16,28.72ZM9.15,5.28A6.12,6.12,0,0,0,4.89,7a6,6,0,0,0-1.84,4.33A6.72,6.72,0,0,0,5,16.13l10.3,10.3a1,1,0,0,0,1.42,0L27.23,15.91A6.25,6.25,0,0,0,29,11.11a6.18,6.18,0,0,0-2.43-4.55,6.37,6.37,0,0,0-8.37.71L16.71,8.8a1,1,0,0,1-1.42,0l-1.7-1.7a6.28,6.28,0,0,0-4.4-1.82Z" />
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-item__wrapper-box">
                                    <div class="product-item__box">
                                        <div class="star" data-rateyo-rating="5"></div>
                                        <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
                                        <div class="product-item__price">
                                            <div class="product-item__new-price">$34.00</div>
                                            <div class="product-item__old-price">$27.00</div>
                                        </div>
                                    </div>
                                    <div class="product-item__content-box">
                                        <p class="product-item__text">
                                            Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et
                                            dolore magna aliqua.
                                        </p>
                                        <button class="product-item__btn">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="product-item__img-box">
                                    <img class="product-item__images" src="images/content/product/5.jpg" alt="Product">
                                    <div class="product-item__link-box">
                                        <a class="product-item__link" href="#">
                                            <svg width="22px" height="22px" viewBox="0 0 632.399 632.399">
                                                <path
                                                    d="M255.108,0C119.863,0,10.204,109.66,10.204,244.904c0,135.245,109.659,244.905,244.904,244.905
                                                                                            c52.006,0,100.238-16.223,139.883-43.854l185.205,185.176c1.671,1.672,4.379,1.672,5.964,0.115l34.892-34.891
                                                                                            c1.613-1.613,1.47-4.379-0.115-5.965L438.151,407.605c38.493-43.246,61.86-100.237,61.86-162.702
                                                                                            C500.012,109.66,390.353,0,255.108,0z M255.108,460.996c-119.34,0-216.092-96.752-216.092-216.092
                                                                                            c0-119.34,96.751-216.091,216.092-216.091s216.091,96.751,216.091,216.091C471.199,364.244,374.448,460.996,255.108,460.996z" />
                                            </svg>
                                        </a>
                                        <a class="product-item__link product-item__link--line " href="#">
                                            <svg viewBox="0 0 512 512" width="25px" height="25px">
                                                <title />
                                                <g>
                                                    <path
                                                        d="M397.78,316H192.65A15,15,0,0,1,178,304.33L143.46,153.85a15,15,0,0,1,14.62-18.36H432.35A15,15,0,0,1,447,153.85L412.4,304.33A15,15,0,0,1,397.78,316ZM204.59,286H385.84l27.67-120.48H176.91Z" />
                                                    <path
                                                        d="M222,450a57.48,57.48,0,1,1,57.48-57.48A57.54,57.54,0,0,1,222,450Zm0-84.95a27.48,27.48,0,1,0,27.48,27.47A27.5,27.5,0,0,0,222,365.05Z" />
                                                    <path
                                                        d="M368.42,450a57.48,57.48,0,1,1,57.48-57.48A57.54,57.54,0,0,1,368.42,450Zm0-84.95a27.48,27.48,0,1,0,27.48,27.47A27.5,27.5,0,0,0,368.42,365.05Z" />
                                                    <path
                                                        d="M158.08,165.49a15,15,0,0,1-14.23-10.26L118.14,78H70.7a15,15,0,1,1,0-30H129a15,15,0,0,1,14.23,10.26l29.13,87.49a15,15,0,0,1-14.23,19.74Z" />
                                                </g>
                                            </svg>
                                        </a>
                                        <a class="product-item__link" href="#">
                                            <svg viewBox="0 0 32 32" width="25px" height="25px">
                                                <title />
                                                <g>
                                                    <path class="cls-1"
                                                        d="M16,28.72a3,3,0,0,1-2.13-.88L3.57,17.54a8.72,8.72,0,0,1-2.52-6.25,8.06,8.06,0,0,1,8.14-8A8.06,8.06,0,0,1,15,5.68l1,1,.82-.82h0a8.39,8.39,0,0,1,11-.89,8.25,8.25,0,0,1,.81,12.36L18.13,27.84A3,3,0,0,1,16,28.72ZM9.15,5.28A6.12,6.12,0,0,0,4.89,7a6,6,0,0,0-1.84,4.33A6.72,6.72,0,0,0,5,16.13l10.3,10.3a1,1,0,0,0,1.42,0L27.23,15.91A6.25,6.25,0,0,0,29,11.11a6.18,6.18,0,0,0-2.43-4.55,6.37,6.37,0,0,0-8.37.71L16.71,8.8a1,1,0,0,1-1.42,0l-1.7-1.7a6.28,6.28,0,0,0-4.4-1.82Z" />
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-item__wrapper-box">
                                    <div class="product-item__box">
                                        <div class="star" data-rateyo-rating="4"></div>
                                        <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
                                        <div class="product-item__price">
                                            <div class="product-item__new-price">$34.00</div>
                                            <div class="product-item__old-price">$27.00</div>
                                        </div>
                                    </div>
                                    <div class="product-item__content-box">
                                        <p class="product-item__text">
                                            Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et
                                            dolore magna aliqua.
                                        </p>
                                        <button class="product-item__btn">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item product-item--sale">
                                <div class="product-item__img-box">
                                    <img class="product-item__images" src="images/content/product/6.jpg" alt="Product">
                                    <div class="product-item__link-box">
                                        <a class="product-item__link" href="#">
                                            <svg width="22px" height="22px" viewBox="0 0 632.399 632.399">
                                                <path
                                                    d="M255.108,0C119.863,0,10.204,109.66,10.204,244.904c0,135.245,109.659,244.905,244.904,244.905
                                                                                            c52.006,0,100.238-16.223,139.883-43.854l185.205,185.176c1.671,1.672,4.379,1.672,5.964,0.115l34.892-34.891
                                                                                            c1.613-1.613,1.47-4.379-0.115-5.965L438.151,407.605c38.493-43.246,61.86-100.237,61.86-162.702
                                                                                            C500.012,109.66,390.353,0,255.108,0z M255.108,460.996c-119.34,0-216.092-96.752-216.092-216.092
                                                                                            c0-119.34,96.751-216.091,216.092-216.091s216.091,96.751,216.091,216.091C471.199,364.244,374.448,460.996,255.108,460.996z" />
                                            </svg>
                                        </a>
                                        <a class="product-item__link product-item__link--line " href="#">
                                            <svg viewBox="0 0 512 512" width="25px" height="25px">
                                                <title />
                                                <g>
                                                    <path
                                                        d="M397.78,316H192.65A15,15,0,0,1,178,304.33L143.46,153.85a15,15,0,0,1,14.62-18.36H432.35A15,15,0,0,1,447,153.85L412.4,304.33A15,15,0,0,1,397.78,316ZM204.59,286H385.84l27.67-120.48H176.91Z" />
                                                    <path
                                                        d="M222,450a57.48,57.48,0,1,1,57.48-57.48A57.54,57.54,0,0,1,222,450Zm0-84.95a27.48,27.48,0,1,0,27.48,27.47A27.5,27.5,0,0,0,222,365.05Z" />
                                                    <path
                                                        d="M368.42,450a57.48,57.48,0,1,1,57.48-57.48A57.54,57.54,0,0,1,368.42,450Zm0-84.95a27.48,27.48,0,1,0,27.48,27.47A27.5,27.5,0,0,0,368.42,365.05Z" />
                                                    <path
                                                        d="M158.08,165.49a15,15,0,0,1-14.23-10.26L118.14,78H70.7a15,15,0,1,1,0-30H129a15,15,0,0,1,14.23,10.26l29.13,87.49a15,15,0,0,1-14.23,19.74Z" />
                                                </g>
                                            </svg>
                                        </a>
                                        <a class="product-item__link" href="#">
                                            <svg viewBox="0 0 32 32" width="25px" height="25px">
                                                <title />
                                                <g>
                                                    <path class="cls-1"
                                                        d="M16,28.72a3,3,0,0,1-2.13-.88L3.57,17.54a8.72,8.72,0,0,1-2.52-6.25,8.06,8.06,0,0,1,8.14-8A8.06,8.06,0,0,1,15,5.68l1,1,.82-.82h0a8.39,8.39,0,0,1,11-.89,8.25,8.25,0,0,1,.81,12.36L18.13,27.84A3,3,0,0,1,16,28.72ZM9.15,5.28A6.12,6.12,0,0,0,4.89,7a6,6,0,0,0-1.84,4.33A6.72,6.72,0,0,0,5,16.13l10.3,10.3a1,1,0,0,0,1.42,0L27.23,15.91A6.25,6.25,0,0,0,29,11.11a6.18,6.18,0,0,0-2.43-4.55,6.37,6.37,0,0,0-8.37.71L16.71,8.8a1,1,0,0,1-1.42,0l-1.7-1.7a6.28,6.28,0,0,0-4.4-1.82Z" />
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-item__wrapper-box">
                                    <div class="product-item__box">
                                        <div class="star" data-rateyo-rating="4.5"></div>
                                        <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
                                        <div class="product-item__price">
                                            <div class="product-item__new-price">$34.00</div>
                                            <div class="product-item__old-price">$27.00</div>
                                        </div>
                                    </div>
                                    <div class="product-item__content-box">
                                        <p class="product-item__text">
                                            Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et
                                            dolore magna aliqua.
                                        </p>
                                        <button class="product-item__btn">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pagination">
                            <a class="pagination__prev pagination__arrows" href="#">Previous</a>
                            <ul class="pagination__list">
                                <li class="pagination__item">
                                    <a class="pagination__link" href="#">1</a>
                                </li>
                                <li class="pagination__item">
                                    <a class="pagination__link" href="#">2</a>
                                </li>
                                <li class="pagination__item">
                                    <span class="pagination__link pagination__link--active" href="#">3</span>
                                </li>
                                <li class="pagination__item">
                                    <span class="pagination__link" href="#">...</span>
                                </li>
                                <li class="pagination__item">
                                    <a class="pagination__link" href="#">10</a>
                                </li>
                            </ul>
                            <a class="pagination__next pagination__arrows" href="#">Next</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </main>

    {% include 'app/module/_footer/_footer.html' %}


    <script src="js/main.min.js"></script>
</body>

</html>