.footer {
    background-color: $bg;
}

.footer-top {
    padding: 70px 0 40px;
    border-bottom: 2px solid #ececec;
    display: flex;
    align-items: flex-start;
    &__contact {
        width: 250px;
        margin-right: 50px;
    }
    &__nav {
        width: 170px;
        margin-right: 30px;
    }
    &__item-form {
        width: 470px;
    }
    &__logo {
        margin-bottom: 30px;
        display: block;
    }
    &__address,
    &__email,
    &__phone {
        margin-bottom: 10px;
        display: block;
    }
    &__social-list {
        display: flex;
        margin-top: 30px;
        align-items: center;
    }
    &__social-item + .footer-top__social-item {
        margin-left: 15px;
    }
    &__social-link {
        transition: all 0.3s;
        path {
            fill: $default;
        }
        &:hover {
            path {
                fill: $accent;
            }
        }
    }
    &__title {
        margin-bottom: 40px;
        color: $title;
        @extend %roboto-500;
        font-size: 22px;
        line-height: 20px;
    }
    &__list-link {
        margin-bottom: 10px;
        display: block;
    }
    &__text {
        margin-bottom: 25px;
    }
    &__form{
        display: flex;
    }
    &__form-input {
        background-color: #fff;
        max-width: 320px;
        width: 100%;
        height: 50px;
        border: none;
        padding: 15px;
        margin-right: 3px;
        box-shadow: 0px 7px 20px 0px rgb(192, 192, 192, 0.6);
        &::placeholder {
            color: $default;
            font-size: 16px;
        }
    }
    &__form-btn {
        @extend %btn;
        height: 50px;
        border: none;
        cursor: pointer;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    font-size: 12px;
    &__accept-img {
        vertical-align: middle;
        margin-left: 25px;
        display: inline;
    }
}
