.partners {
    padding-top: 75px;
    &__list {
        height: 170px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 570px) {
    .partners {
        padding: 60px 0;
        &__list {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            margin: 7px;
        }
    }
}
